# Archivos generados por macOS
.DS_Store

# Configuración de VS Code
.vscode/

# Dependencias de Node (si usas npm/yarn para construir el theme)
node_modules/
npm-debug.log
yarn-error.log

# Archivos de compilación (si usas un sistema de build)
dist/
build/

# (Opcional) Ignora el contenido subido y la config de WP
wp-content/uploads/
wp-config.php

# Archivos de Composer (si usas PHP Composer)
vendor/

# Otras carpetas o archivos que no quieras versionar
