<!-- Navbar -->
<nav class="navbar">
	<div class="btn-navar">
		<a href="https://verderaiz.com.mx/blog-library">RETURN TO LIBRARY</a>
	</div>
</nav>

<!-- wp:group {"className":"main-content"} -->
<div class="wp-block-group main-content">
	<!-- Banner -->
	<div class="banner">
	  <div class="featured-img">
		<!-- wp:post-featured-image {"sizeSlug":"large"} /-->
	  </div>
	  <div class="info">
		<!-- wp:post-title {"level":1,"className":"title"} /-->
		<!-- wp:group -->
		<div>
		  <!-- wp:paragraph {"className":"author"} -->
		  <p class="author">
			<!-- wp:post-author {"showAvatar":false} /-->
		  </p>
		  <!-- /wp:paragraph -->
		  <!-- wp:paragraph {"className":"date"} -->
		  <p class="date">
			<!-- wp:post-date {"format":"d/m/Y"} /-->
		  </p>
		  <!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->
	  </div>
	</div>
	
	<!-- Resumen -->
	<div class="abstract">
	  <h2>Resumen</h2>
	  <!-- wp:post-excerpt /-->
	  <!-- wp:post-content /-->
	</div>

	<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"},"padding":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"
		style="margin-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50)">
		<!-- wp:post-terms {"term":"post_tag","separator":"  ","className":"is-style-pill"} /-->

		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:spacer {"height":"var:preset|spacing|40"} -->
			<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer">
			</div>
			<!-- /wp:spacer -->

			<!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"backgroundColor":"contrast-3","className":"is-style-wide"} -->
			<hr class="wp-block-separator has-text-color has-contrast-3-color has-alpha-channel-opacity has-contrast-3-background-color has-background is-style-wide" style="margin-bottom:var(--wp--preset--spacing--40)"/>
			<!-- /wp:separator -->

			<!-- wp:pattern {"slug":"twentytwentyfour/hidden-comments"} /-->

			<!-- wp:pattern {"slug":"twentytwentyfour/hidden-post-navigation"} /-->

		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
  </div>
  <!-- /wp:group -->



  <!-- Footer -->
  <footer id="footer">
    <div class="container footer-section">
	  <h3>CONTACT US</h3>
      <div class="footer-content">
		  <div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d7470.174069391202!2d-100.413558!3d20.584503!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjDCsDM1JzA0LjIiTiAxMDDCsDI0JzQ4LjgiVw!5e0!3m2!1ses-419!2smx!4v1739150091731!5m2!1ses-419!2smx" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		  </div>
		  <div class="contact-info">
			<h3>Oficinas</h3>
			<hr>
			<div class="footer-content-contact-info">
				<p>
					<span>Queretaro</span>
					Prol. Pino Suárez 365, Galindas, 76177 Santiago de Querétaro, Qro.
				  </p>
				  <a href="tel:4424370180">442-437-0180</a>
				  <a href="tel:4424711062">442-471-1062</a>
			</div>
		  </div>
	  </div>
    </div>
  </footer>
  